/* Responsive card w. fixed aspect ratio for media */
.parent {
  display: grid;
  place-items: center;
}

.media {
  aspect-ratio: 16 / 9;
}

.card {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
